/*-- 
    template style 20160929
--*/
/* header height
.wrapper {
    height: 60px;
}*/
.modal-backdrop {
    background-color: rgba(0%, 0%, 0%, 0.5);
}
.bg_middle {
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.bg_top {  
    background-position: 50% 0;
    background-size: cover;
}
.center {
    text-align: center;
}
.center input {
    display: inline-block;
}
.float-right { float: right;}
.float-left { float: left;}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    display: block;
    margin-right: auto;
}
.alignright {
    display: block;
    margin-left: auto;
}
.border-point {
    border: 3px dashed #ddd;
}
.res_div > div,.res_div2 > div,.res_div3 > div,.res_div4 > div {
    background-position: 50% 0;
    background-size: cover;
    bottom: 0 !important;
    height: 100% !important;
    left: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
}
.res_div::after {
    content: "" !important;
    display: block !important;
    padding-bottom: 60% !important;
}
.res_div2::after {
    content: "" !important;
    display: block !important;
    padding-bottom: 88% !important;
}
.res_div3::after {
    content: "" !important;
    display: block !important;
    padding-bottom: 75% !important;
}
.res_div4::after {
    content: "" !important;
    display: block !important;
    padding-bottom: 100% !important;
}
.res_div,.res_div2,.res_div3,.res_div4 {
    position: relative;
}
textarea {
    border: 2px solid rgb(163, 177, 178);
    border-radius: 3px;
    color: rgb(102, 102, 102);
    font-family: "微軟正黑體";
    font-size: 12px;
    margin: 5px 3px;
    min-height: 100px;
    padding: 5px;
    transition: all 1s ease 0s;
    width: 99%;
}
.container select {
    border: 2px solid rgb(163, 177, 178);
    border-radius: 3px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    height: 30px;
    transition: all 1s ease 0s;
}
/*-- 
    upload process style 20160929
--*/
.statusbar {
  border-top: 1px solid #a9ccd1;
  margin-top: 0;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.statusbar:nth-child(odd){
    background:#EBEFF0;
}
.filename
{
    display:inline-block;
    vertical-align:top;
    width:70px;
    margin-left:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filesize
{
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    width:65px;
    margin-left:10px;
    margin-right:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.progressBar {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    height: 22px;
    margin: 9px 10px 9px 5px;
    overflow: hidden;
    vertical-align: top;
    width: 120px;
}
.progressBar div {
    background-color: #7e7e7e;
    border-radius: 3px;
    color: #fff;
    height: 100%;
    line-height: 22px;
    text-align: right;
    width: 0;
    margin: 0px;
}
.abort{
    background-color:#c2c2c2;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:50%;
    display:inline-block;
    color:#fff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding: 0px 7px;
    cursor:pointer;
    vertical-align:top;
    margin-top:10px;
    margin-right: 10px;
}
/*-- 
    upload UI style 20160929
--*/
.child-middle > * {
    vertical-align: middle;
}
.child-middle {
    margin: 10px 0;
}
.upload_bar {
    cursor: pointer;
    font-size: 20px;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.fileUpload {
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.photo .view,.photo .view_lg {
    width: 160px;
    height: 160px;
    background-color: #eee;
}
.photo .view p,.photo .view_lg p {
    color: #888;
    line-height: 160px;
    margin: 0;
}
.photo .view_lg {
    width: 100%;
    height: 200px;
}
.photo .view_lg p {
    line-height: 200px;
}
.photo span::before {
    background: rgba(0, 0, 0, 0) url("../images/upload.png") repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 15px;
    position: relative;
    top: 2px;
    width: 19px;
    transition: all 0.3s ease 0s;
}
.photo .upload {
    background: #2F8DCD;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    padding: 7.3px 12px 5.8px;
}
.photo > .child-middle button.upload_btn {
    background: #2f8dcd none repeat scroll 0 0;
    border-color: #2f8dcd;
}
.photo > .child-middle button.upload_btn::before {
    background: #2f8dcd none repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) url("../images/upload.png") repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 15px;
    position: relative;
    top: 2px;
    width: 19px;
}
.photo > .child-middle button.net::before {
    background-position: right top;
    margin-right: 5px;
}
#ttshow_img_list_space{
    margin-top: 50px;
    max-height: 502px;
    overflow-y: scroll;
}
.upload_picbox {
    background-position: 50% 50%; 
    background-size: cover; 
    border: 1px dotted #ddd; 
    margin: 4px;
    height: 160px; 
    width: 160px;
}
.upload_picbox.click {
    border: 1px solid red;
    opacity: 0.5;
}
/*-- 
    add ui style 20160929
--*/
/* dialog */
#dialog-msg,#sms-msg{
    position:relative; 
    left:0; 
    top:0; 
    width:100%; 
    height:100%; 
    z-index:1000;
}
#dialog-msg dl { 
    border-radius: 10px;
    margin: 5em auto;
    width: 100%;
}
#dialog-msg input, #dialog-msg select, #dialog-msg textarea {
    border: 2px solid rgb(163, 177, 178);
    border-radius: 3px;
    font-family: "微軟正黑體";
    font-size: 12px;
    height: 28px;
    width: 60%;
    margin: 2px 3px 2px 30%;
    padding: 0 5px;
    transition: all 1s ease 0s;
}
#dialog-msg select {
    height: 33px;
    width: 62.5%;
}
#dialog-msg textarea {
    height: 100px;
}
#dialog-msg table input, #dialog-msg table input {
    width: 15px;
}
#dialog-msg dt{
    position:relative; 
    background: #2f8dcd;
    padding: 15px 0 5px;
    text-align: center;
}
#dialog-msg dt a{
    position:absolute; 
    right:21px; 
    top:23px; 
    display:block; 
    width:10px; 
    height:10px; 
    background:url(../images/close.png) no-repeat ;
    opacity: 1; 
    text-indent:-9999px; 
    cursor:pointer; 
    transition:all .3s;
}
#dialog-msg dt a.button:hover{
    opacity:.6;
}
#dialog-msg dd{
    color: #666;
    font-size: 13px;
    line-height: 28px;
    padding: 0 15px;
    text-align: center;
}
#dialog-msg .title {
    color: #fff;
    font-size: 20px; 
    margin-bottom: 5px;
    padding-left: 0px;
}
#dialog-msg .list-title {
    background: rgba(0, 0, 0, 0) url("../template/images/icon-title.png") no-repeat scroll left top;
    color: rgb(47, 141, 205);
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    padding: 5px 0 5px 30px;
    text-align: left;
}
#dialog-msg dd a.button,#dialog-msg .list a.button {
    text-align: center;
    display:inline-block; 
    width:100px; 
    height: auto;
    border: 0;
    margin:20px 5px 0; 
    background:#2f8dcd; 
    border-radius:5px; 
    font-size:15px; 
    color:#FFF; 
    line-height:40px; 
    cursor:pointer; 
    box-sizing:border-box; 
    transition:all .3s;
    text-decoration: none;
}
#dialog-msg dd a.button.delete,#dialog-msg .list a.button.delete {
    background:#999;
}
#dialog-msg dd a.button :hover{
    background:#999;
}
#dialog-msg dt[class="message"]{
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
}
#dialog-msg form { 
    margin: 0 auto;
}
#dialog-msg form li{
    padding: 5px 0;
    position: relative;
}
#dialog-msg form li span {font-weight: bold;
    left: 0;
    position: absolute;
    top: 15px;
}
/* 訊息 dialog*/
#sms-msg .list{
    margin: 5em auto;
    width: 100%;
    border-radius: 10px;
}
#sms-msg .admin {
    height: 100%;
}
#sms-msg .list > a {
    cursor: pointer;
    display: block;
    height: 10px;
    opacity: 1;
    position: absolute;
    right: 21px;
    top: 23px;
    transition: all 0.3s ease 0s;
    width: 10px;
}
/* 登入註冊 alert error*/
.set form li.verify img {
    display: block;
    position: absolute;
    height: 34px;
    top: 10px;
}
.set form li.verify .refresh {
    background: #87cdcb url("../template/images/refresh.png") no-repeat scroll center center;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 30px;
    top: 10px;
    position: absolute;
    text-indent: -9999px;
    top: 11px;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.set .alert {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0;
    text-align: right;
}
.set .alert::before {
    background: rgba(0, 0, 0, 0) url("../template/images/alert.png") repeat scroll 0 0;
    content: "";
    display: inline-block;
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    width: 17px;
}
.set .alert.success {
    color: #578f00;
}
.set .alert.success::before {
    background-position: left top;
}
.set .alert.warning {
    color: #ffc000;
}
.set .alert.warning::before {
    background-position: center top;
}
.set .alert.error {
    color: #d30000;
}
.set .alert.error::before {
    background-position: right top;
}
/* RWD */
@media screen and (max-width:1200px){
    #dialog-msg dl{
        width: 80%; 
    }
    #sms-msg .list{
        width: 80%; 
    }
}
@media screen and (max-width:680px){
    #dialog-msg dl{
        width: 80%; 
    }
    #sms-msg .list{
        width: 80%; 
    }
}
@media screen and (max-width:400px){
    #dialog-msg dl{
        width: 100%; 
    }
    #sms-msg .list{
        width: 100%; 
    }
}
/*-- 
    後台管理 搜尋box
--*/
.dataTable_search_box {
    padding: 10px 0;
    margin-bottom: 10px;
}
.dataTable_function_btn_box {
    padding: 10px 0; 
    height: 35px;
}
#condition_Datatable, #statistics_Datatable {
    margin: 0 0 20px;
}
#condition_Datatable table{
    width: 100%;
}
#statistics_Datatable {
    position: relative; 
    height: 30px;
}
.dataTable_search_box input {
    border: 2px solid rgb(163, 177, 178);
    border-radius: 3px;
    color: rgb(102, 102, 102);
    font-family: "微軟正黑體";
    font-size: 12px;
    height: 28px;
    margin: 2px 3px;
    padding: 0 5px;
    transition: all 1s ease 0s;
}
/*data select 欄位*/
#condition_Datatable tr.condition_5 td{
    width: 20%;
}
#condition_Datatable tr.condition_5 input{
    width: 50%;
}
#condition_Datatable tr.condition_4 td{
    width: 25%;
}
#condition_Datatable tr.condition_3 td{
    width: 33.33%;
}
#condition_Datatable tr.condition_2 td{
    width: 50%;
}
#statistics_Datatable input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
    height: 16px;
}
/*input欄位變化*/
#display_checkbox.statistics_5 > div {
    width: 20%;
    margin-right: 0px;
}
#display_checkbox.statistics_4 > div {
    width: 25%;
    margin-right: 0px;
}
#display_checkbox.statistics_3 > div {
    width: 33.33%;
    margin-right: 0px;
}
#display_checkbox.statistics_2 > div {
    width: 50%;
    margin-right: 0px;
}
.dataTable_search_box button,.dataTable_function_btn_box button {
    background: rgb(163, 177, 178) none repeat scroll 0 0;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0 20px;
    text-decoration: none;
    transition: all 1s ease 0s;
    border: 0;
    cursor: pointer;
}
.dataTable_search_box button:hover,.dataTable_function_btn_box button:hover {
    background: rgb(47, 141, 205) none repeat scroll 0 0;
}
.dataTable_function_btn_box > div {
    border: 1px dashed rgb(221, 221, 221); 
    padding: 8px; 
    width: 300px; 
    height: 22px;
    color: rgb(102, 102, 102);
}
.dataTable_search_box .submit {
    margin: 0 auto;
}
#display_checkbox > .float-left {
    margin-right: 15px;
}
.tablebox td em.error {
    background: rgba(255, 40, 40, 0.5) none repeat scroll 0 0;
}

@media(max-width:1200px){
    .main-content {
        margin-left: 10px;
    }
}
@media(max-width:680px){
    .main-content {
        margin-left: 0;
    }
}

table tbody a{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(60, 86, 109);
}
table tbody a.mark strong {
    color: rgba(255, 121, 123, 1);
}
table tfoot tr th{
    text-align:right!important;
    color: rgb(153, 153, 153)!important;
}
.black-border{
    border: 1px solid black;
}
.wrapper h1 a {
    text-decoration: none;
    color: rgb(47, 141, 205);
    padding: 10px 0;
}