@charset "utf-8";
/* CSS Document */

@import url("reset.css");
body{ font-family:"微軟正黑體"; background:rgb(236,240,241);  overflow-x:hidden;}
html{ background:rgb(255,255,255);}

header{ border-bottom:rgb(47,141,205) solid 3px; background:rgb(255,255,255); position:relative; z-index:999;}
.wrapper{ max-width:1200px; height:60px; margin:0 auto; position:relative; transition:height 1s;}
.wrapper h1 a{position:absolute; left:10px; width:241px; height:30px; overflow:hidden; transition:height 1s;}
.wrapper h1 a img{ position:absolute; height:100%; top:0; bottom:0; left:0; right:0; margin:auto; transform:width 1s;}
.wrapper .column{ height:30px; position:absolute; right:10px; bottom:15px; transition:right 1s;}
.wrapper .column div{ float:right;}
.wrapper .column .gotop{ display:none;}
.wrapper .column .gotop a{ display:block; width:30px; height:30px; background:url(../images/icon-gotop.png); text-indent:-99999px;}
.wrapper .column .gotop a:hover{ background-position:30px 0;}
.wrapper .column .user{ font-size:15px; line-height:30px; color:rgb(60,86,109); background:url(../images/icon-user.png) no-repeat 0 50%; padding-left:30px;}
.wrapper .column .link a{ display:block; margin:0 10px; background:rgb(163,177,178); border-radius:3px; height:30px; line-height:30px; padding:0 20px; font-size:13px; text-decoration:none; color:rgb(255,255,255); transition:all 1s;}
.wrapper .column .link a:hover{ background:rgb(47,141,205);}
.wrapper .column .language select{ height:30px; border:rgb(163,177,178) solid 2px; border-radius:3px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s;}

.content{ max-width:1200px; min-height:600px; margin:0 auto;}
.submenu{ width:180px; position:fixed; background:rgb(236,240,241); border-radius:3px; z-index:88;}
.submenu > ul{ margin:10px;}
.submenu > ul > li > a{ display:block; font-size:13px; padding:10px 0; color:rgba(102,102,102,1); text-decoration:none; margin-bottom:5px; border-bottom:rgba(163,177,178,.5) solid 1px;}
.submenu > ul > li.now > a{ border-bottom:rgb(47,141,205) solid 1px; color:rgb(47,141,205);}
.submenu > ul > li > ul{ display:none; margin-bottom:5px;}
.submenu > ul > li > ul > li > a{display:block; margin-bottom:1px; padding:6px 10px; font-size:13px; color:rgb(51,51,51); text-decoration:none;}
.submenu > ul > li > ul > li.now > a,.submenu > ul > li > ul > li > a:hover{color:rgb(47,141,205);}
.submenu > ul > li.now > ul{ display:block;}

.container{ width:1000px; position:relative; left:200px; top:10px; overflow:auto; padding-bottom:30px;}
.news, .sidebar, .news dl, .news div{ float:left;}
.news, .sidebar, .list{ position:relative; margin-bottom:10px;}
.news h2, .sidebar h2, .list h2{ display:block; font-size:20px; font-weight:normal; line-height:30px; color:rgb(47,141,205); padding:5px 0 5px 30px; background:url(../images/icon-title.png) left top no-repeat;}
.news h2{ background:url(../images/icon-title-news.png) left top no-repeat;}
.sidebar h2, .list h2{}
.more{ display:block; position:absolute; right:0; top:5px; font-size:13px; line-height:30px; color:rgb(163,177,178); text-decoration:none;}
.more:hover{ text-decoration:underline; color:rgb(47,141,205);}
.news{ width:70%;}
.news .more{ right:15px;}
.news dl, .news div{ width:50%;}
.news dl a{ display:block; margin-right:10px; margin-bottom:5px; background:rgb(255,255,255); border-radius:5px; padding:20px; text-decoration:none; transition:all 1s; border-bottom:rgba(47,141,205,.3) solid 3px;}
.news dl a:hover{border-bottom:rgba(47,141,205,1) solid 3px;}
.news dl a dt{ display:block; font-size:15px; color:rgb(47,141,205); border-bottom:rgb(47,141,205) solid 1px; height:30px; line-height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.news dl a dd{ display:block; font-size:13px; color:rgb(163,177,178); overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; line-height:25px; height:50px; margin-top:5px;}
.news dl a p{ display:block; text-align:right; font-size:12px; color:rgb(203,208,211);}
.news div h3{ display:block; font-size:15px; border-bottom:rgb(236,240,241) solid 1px; line-height:40px; color:rgb(255,255,255); letter-spacing: 2px; background-color:rgb(47,141,205); text-align:left; margin-right:10px; border-top-left-radius:5px; border-top-right-radius:5px; background-image:url(../images/icon-bill-group.png); background-repeat:no-repeat; background-position:10px 0; padding-left:40px;}
.news div.group h3{ background-position:10px 100%;}
.news div ul{ display:block; background-color:rgba(47,141,205, .8); background-repeat:no-repeat; background-position:0 100%; margin-right:10px; border-bottom-left-radius:5px; border-bottom-right-radius:5px;}
.news div li{ display:block; font-size:13px; color:rgb(255,255,255); line-height:20px; padding:5px 20px; border-top:rgba(255,255,255,.1) solid 1px;}
.news div li em{ display:block; text-align:right;}
.news div li:last-child{ margin-top:3px; line-height:30px;}
.sidebar{ width:30%; margin-top:40px;}
.sidebar ul.btn{}
.sidebar ul.btn li a{ display:block; background:rgb(255,255,255); margin-bottom:5px; height:45px; line-height:45px; text-decoration:none; font-size:15px; border-radius:5px; padding:0 20px; transition:background 1s, border 1s; position:relative; font-weight:bold;}
.sidebar ul.btn li:nth-child(1) a{ border:rgba(274,121,123,1) solid 3px; color:rgba(274,121,123,1);}
.sidebar ul.btn li:nth-child(2) a{ border:rgba(255,223,123,1) solid 3px; color:rgba(255,223,123,1);}
.sidebar ul.btn li a:before{ content:""; display:block; width:20px; height:20px; border-radius:20px; background:url(../images/icon-right.png); position:absolute; right:10px; top:0; bottom:0; margin:auto;}
.sidebar ul.data{ display:block;}
.sidebar ul.btn li:nth-child(1) a:before,
.sidebar ul.btn li:nth-child(1) a:hover{ background-color:rgba(274,121,123,1);}
.sidebar ul.btn li:nth-child(2) a:before,
.sidebar ul.btn li:nth-child(2) a:hover{ background-color:rgba(255,223,123,1);}
.sidebar ul.btn li a:hover{ border:rgba(255,255,255,.5) solid 3px; color:rgb(255,255,255);}

.sidebar ul.data li{ display:block; text-align:center; font-size:15px; color:rgb(60,86,109); line-height:28px; border-radius:3px; background:rgb(255,255,255); border-radius:5px; margin-bottom:5px; text-align:right; padding:20px 20px; border-bottom:rgba(47,141,205,.3) solid 3px; position:relative; overflow:hidden;padding-left:75px;}
.sidebar ul.data li:before{ content:""; display:block; position:absolute; background-image:url(../images/icon-data.png); width:50px; height:50px; border-radius:30px; left:10px; top:0; bottom:0; margin:auto; border:rgba(255,255,255,.5) solid 5px;}
.sidebar ul.data li em{ display:block; text-align:left; }
.sidebar ul.data li:nth-child(1):before{ background-color:rgba(47,141,205,1);  background-position:50% 0;}
.sidebar ul.data li:nth-child(2):before{ background-color:rgba(274,121,123,1); background-position:50% -50px;}
.sidebar ul.data li:nth-child(3):before{ background-color:rgba(255,223,123,1);  background-position:50% -100px;}

.list{ clear:both; background:rgb(255,255,255); padding:20px; border-radius:5px; border-bottom:rgba(47,141,205,1) solid 3px;}
.list .more{ right:20px; top:20px;}
.tablebox{}
.tablebox table{font-size:13px; line-height:20px; color:rgb(60,86,109); text-align:center;}
.tablebox tr:first-child{ background:rgba(47,141,205,1); color:rgb(255,255,255); height:40px;}
.tablebox tr:nth-child(even){ background:rgba(163,177,178,.1);}
.tablebox td{ padding:5px;}
.tablebox td em{ display:block; background:rgba(47,141,205,.1); border-radius:5px; padding:3px 10px; text-align:center; margin-top:5px;}
.tablebox td em.undone{ background:rgba(255,223,123,.5);}
.tablebox td a{ display:block; color:rgb(60,86,109);}
.tablebox td a:hover{ color:rgb(47,141,205);}
.tablebox td.mark strong{ color:rgba(274,121,123,1);}

footer{ text-align:center; font-size:15px; color:rgb(60,86,109); border-top:rgb(163,177,178) solid 3px; padding:15px 10px; background:rgb(255,255,255);}

@media(max-width:1200px){
    .submenu{ width:19%;}
    .container{ width:79%; left:20%;}
}

@media(max-width:800px){
    .tablebox{ width:100%; overflow:hidden; overflow-x:scroll; box-shadow:2px 0 2px rgba(204,204,204,.8);}
    .tablebox table{ width:800px;}
}

@media(max-width:680px){
   .wrapper,
   .wrapper h1 a{ height:80px !important; right:0; left:0; margin:auto;}
   .wrapper h1 a img{ right:0; margin:auto;}
   .wrapper .column{ height:50px; right:auto; top:auto; left:0; bottom:-53px; width:100%; background:rgb(255,255,255);}
   .wrapper .column .user{ float:left; margin:10px;}
   .wrapper .column .link a,
   .wrapper .column .gotop a,
   .wrapper .column .language select{ margin:10px 10px 10px 0;}
   
   .submenu{ width:auto; position:relative; margin-top:50px;}
   .container{ width:96%; left:auto; margin:2%;}/*AL 20161026*/
   .news, .sidebar, .news dl, .news div{ float:none; overflow:auto;}
   .news, .news dl, .news div{ width:auto; margin:0;}
   .news dl a, .news div ul, .news div h3{ margin:0;}
   .news dl, .news div{ margin-bottom:10px;}
   
   .sidebar{ clear:both; width:auto;}
}

@media(max-width:480px){
    .submenu{ margin-top:90px;}
    .wrapper .column .user{ display:block; float:none; clear:both; background:rgb(255,255,255); margin:0; border-top:rgba(204,204,204,.5) solid 1px; padding:0 10px;}
}

@media(max-width:320px){
    .wrapper,
    .wrapper h1 a{ height:60px !important;}
    .wrapper h1 a img{}
    .wrapper .column .user{ font-size:13px;}
}